body {
    min-height: 100vh;
    padding: 0;
    margin:0;
    background-image: url('../images/stranger_things_bikes.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }